/** Mixins **/
#setting-entities-client-ui {
  border: 1px solid #cccccc;
  margin: 10px 0;
  position: relative;
  background: #eee;
}
#setting-entities-client-ui #setting-entities-tabs {
  float: left;
  display: block;
  width: 240px;
  font-size: 1em;
  line-height: 1;
  margin: 0 -100% -1px 0;
  padding: 0;
}
#setting-entities-client-ui #setting-entities-tabs ul {
  margin: 0;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab {
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab.first a {
  border-top: 0;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab.active {
  background: #fff;
  width: 100%;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab.active:after {
  content: " ";
  display: block;
  height: 100%;
  width: 1px;
  position: absolute;
  right: -1px;
  top: 0;
  background: #fff;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab.active a {
  color: #0f7cc0;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab.active a:before {
  content: '►';
  margin-right: 6px;
  color: #0f7cc0;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab a {
  border-top: 1px solid #cccccc;
  display: block;
  padding: 10px;
  color: #3d95cc;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab a:before {
  content: '►';
  margin-right: 6px;
  color: #3d95cc;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab a:hover {
  color: #0f7cc0;
  text-decoration: none;
}
#setting-entities-client-ui #setting-entities-tabs ul li.tab a:hover:before {
  color: #0f7cc0;
}
#setting-entities-client-ui #setting-entities-content {
  background: #fff;
  min-height: 200px;
  margin: 0 0 0 240px;
  padding: 10px 15px 10px 15px;
  border-left: 1px solid #cccccc;
}
